h1 {
	font-size: 40px;
	/* color: white; */
}

.books {
    /* display: flex;
    flex-wrap: nowrap; */
	display: grid;
	grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.book {
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    /* overflow: hidden; */
    /* width: 200px; */
    text-align: center;
}

.book img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    border-radius: 20px;
}

.book h2 {
    font-size: 20px;
    margin: 10px 0;
	/* color: white; */
}

.book p {
    font-size: 16px;
    /* color: white; */
    margin: 5px 0 10px;
}

nav {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;

}

a {
    text-decoration: none;
}

nav a {
    font-size: 30px;
}